body{
    color:burlywood;
}
header {
    height: 250px;
    outline:1px solid burlywood;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Sukiyaki_01.jpg/1200px-Sukiyaki_01.jpg);
    background-size: cover;
    background-position: center center;
}

header p {
    margin:0;
    padding-left:50px;
    padding-right:20px;
}